.filter-preview {
	width: 100%;
	height: 300px;
	position: relative;
	background: red;
}

.filter-preview .image-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background: blue;
	width: 50%;
	filter: sepia(.8);
}

.filter-preview, .filter-preview .image-wrapper {
	background-position: top left;
	background-size: cover;
}

.filter-preview .image-wrapper .filter-slider {
	position: absolute;
	background: linear-gradient(to left, transparent 20%, rgba(0, 0, 0, 0.2) 40%, white 41%, white 59%, rgba(0, 0, 0, 0.2) 60%, transparent 80%);
	right: -10px;
	top: 0;
	width: 20px;
	bottom: 0;
	cursor: e-resize;
}

.filter-preview .image-wrapper .filter-slider:before,
.filter-preview .image-wrapper .filter-slider:after {
	content: '';
	position: absolute;
	border: 10px solid transparent;
	top: 0;
	bottom: 0;
	height: 0;
	margin: auto;
}

.filter-preview .image-wrapper .filter-slider:before {
	border-right-color: white;
	right: 15px;
}

.filter-preview .image-wrapper .filter-slider:after {
	border-left-color: white;
	right: -15px;
}
